@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Sen&display=swap');

:root {
  --font-ui: 'Sen', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-title: 'BBH Bartle', sans-serif;

  --clr-dark: #383636;
  --clr-dark-semi: rgb(from var(--clr-dark) r g b / 50%);
  --clr-light: #ffffffde;
  --clr-light-semi: rgb(from var(--clr-light) r g b / 80%);
  

  font-family: var(--font-ui);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--clr-light);
  background-color: var(--clr-dark);

 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0
}

#app {
  width: 100svw;
  height: 100svh;
  overflow: hidden;

  /* display: grid;
  place-content: center;
  align-items: end;

  > * {
    grid-area: 1 / 1;
  } */
}

/* canvas {
  width: 100%;
  height: auto;
  object-fit: contain;
} */



#ui-container {
  position: absolute;
  bottom: 0;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  input[type="text"] {
    width: 100%;
    margin: 1rem;

    color: var(--clr-light);
    background-color: var(--clr-dark-semi);

    font-family: var(--font-ui);
    font-size: 1.5rem;
    padding: 10px 1rem;
    text-decoration: none;
    border-radius: 100vmin; /*up to date browsers support this, but you can add prefixes if you want*/

    border: none;
    outline: var(--clr-dark-semi) solid 5px;
    outline-offset: 0.2rem;

    &:focus {
      outline-color: var(--clr-light-semi);
    }
  }

  #button-submit {
    min-width: 4em;
    min-height: 4em;
    margin: 1em;
    border-radius: 100vmin;
    background-color: var(--clr-dark-semi);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3C!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --%3E%3Cpath fill='%23ffffff' d='M4.4 19.425q-.5.2-.95-.088T3 18.5V14l8-2l-8-2V5.5q0-.55.45-.837t.95-.088l15.4 6.5q.625.275.625.925t-.625.925z'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    color: var(--clr-light);
    border: none;

    outline: var(--clr-dark-semi) solid 5px;
    outline-offset: 0.2rem;
  }
}